.desktop {

}

.dragBox-wrapper {
  min-width: 300px;
  min-height: 200px;

  .dragBox-top-bar {
    background-color: $footer-bgcolor;
    width: 300px;
    height: 40px;
    position: relative;
    cursor: move;
  }

  .dragBox-top-bar-title {
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    left: 10px;
    line-height: 40px;
  }

  .dragBox-close-box {
    background-color: #000000;
    color: #ffffff;
    width: 60px;
    height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    cursor: pointer;

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .dragBox {
    min-width: 300px;
    min-height: 200px;
    color: #ffffff;
    font-weight: bold;
    background-color: #498db2;
    line-height: 200px;
    text-align: center;
  }
}