footer {
  height: 50px;
  bottom: 0;
  background-color: #676765;
  width: 100%;
  position: absolute;

  .footer-content {
    position: relative;
    height: 50px;

    .bottom-logo {
      position: absolute;
      right: 20px;
      width: 150px;

      .bottom-logo-title {
        color: #ffffff;
        font-size: 0.6em;
      }

      img {
        width: 150px;
        transform: translateY(-50%);
        margin-top: 5px;
      }
    }
  }

  .menuBtn {
    width: 200px;
    height: 70px;
    background-color: #e36355;
    text-align: center;
    line-height: 70px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .menuBtnActive {
    background-color: #29719B !important;
    color: #e36355 !important;
  }

}