header {
  min-height: 50px;
  width: 100%;
  font-size: 1.4rem;
  line-height: 46px;
  background-color: #676765;
  position: relative;

  a {
    color: #ffffff;

    &:hover {
      color: #2983ad;
    }
  }

  .top-left-menu {
    position: absolute;
    left: 20px;
    color: #ffffff;
    z-index: 2;

    a:hover {
      color: #dcdcdc !important;
    }

    .top-left-menu-content {
      position: relative;
      width: 100%;

      .openLeftMenu {
        z-index: 2;
        position: absolute;
      }

      .openLeftMenuActive {
        right: 10px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
          margin: 0;
          padding: 0;
          cursor: pointer;
          display: inline;
        }
      }
    }
  }

  .top-right-menu {
    position: absolute;
    right: 20px;
    color: #ffffff;

    a:hover {
      color: #dcdcdc;
    }

    .power-off-icon a {
      color: #e36355;

      &:hover {
        color: #d66355;
      }
    }

    .li-clock {
      margin-left: 30px !important;
    }

    .header-profile-dropdown {
      padding-right: 30px;
      font-size: 1.1rem;
    }

    .topUserIcon {
      display: inline;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

}

.windows {
  width: 300px;
  height: 300px;
}

.leftMenu {
  display: none;
  background-color: #4b4b49;
  color: #ffffff;
  min-width: 160px;
  width: 25%;
  max-width: 270px;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 100%;
    padding: 20px;
    list-style: none;
    color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
  }

  .leftMenuTop {
    line-height: 50px;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #676765;

    .title {
      font-weight: bold;
      text-transform: uppercase;
    }

    .leftMenuTopBtn {
      position: absolute;
      font-size: 1.5rem;
      right: 10px;
      cursor: pointer;
    }
  }

}