@import "fonts";
@import "colors";
@import "~bootstrap/scss/bootstrap";
@import "header";
@import "footer";
@import "desktop";
@import "login";

body {
  background-color: $background;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}






















